/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-label {
    color: gray !important
}

.mat-tab-body-content {
    overflow-y: hidden !important;
    height: 100% !important;
}

@media(max-width: 825px) {
    .mat-tab-label-container {
        display: none !important;
    }
}